.chart {
    background: #fff;
    border: solid 1px #ddd;
    box-shadow: 0 0 4px rgba(0,0,0,.2);
    font: 10px sans-serif;
    height: 180px;
    position: relative;
    width: 720px;
}

.chart svg {
    border-left: solid 2px #ddd;
    left: 360px;
    position: absolute;
    top: 0;
}

.chart pre {
    font: 12px monospace;
    height: 60px;
    left: 10px;
    position: absolute;
    top: 0;
    width: 340px;
}

rect {
    fill: white;
    stroke: #ccc;
}

line {
    stroke: #ccc;
}
